In [22]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error

In [5]:
df = pd.read_excel('AmesHousing.xls')

In [6]:
df.head()

,Order,PID,MS SubClass,MS Zoning,Lot Frontage,Lot Area,Street,Alley,Lot Shape,Land Contour,...,Pool Area,Pool QC,Fence,Misc Feature,Misc Val,Mo Sold,Yr Sold,Sale Type,Sale Condition,SalePrice
0,1,526301100,20,RL,141.0,31770,Pave,NaN,IR1,Lvl,...,0,NaN,NaN,NaN,0,5,2010,WD,Normal,215000
1,2,526350040,20,RH,80.0,11622,Pave,NaN,Reg,Lvl,...,0,NaN,MnPrv,NaN,0,6,2010,WD,Normal,105000
2,3,526351010,20,RL,81.0,14267,Pave,NaN,IR1,Lvl,...,0,NaN,NaN,Gar2,12500,6,2010,WD,Normal,172000
3,4,526353030,20,RL,93.0,11160,Pave,NaN,Reg,Lvl,...,0,NaN,NaN,NaN,0,4,2010,WD,Normal,244000
4,5,527105010,60,RL,74.0,13830,Pave,NaN,IR1,Lvl,...,0,NaN,MnPrv,NaN,0,3,2010,WD,Normal,189900

In [63]:
def transform_features(df):
    clean_df = df
    
    # first priority is deleting columns with a high number of null values
    null_counts = clean_df.isnull().sum()
    percent_null = null_counts/len(clean_df)
    
    null_cols = null_counts[null_counts > 365] # Select columns with > 25% values  missing
    clean_df = clean_df.drop(null_cols.index, axis = 1)
    print(null_cols)
    return clean_df

In [64]:
clean_df = transform_features(df)

object_cols = [col for col in clean_df.columns if clean_df[col].dtype == 'object']
print(object_cols)

Lot Frontage     490
Alley           2732
Fireplace Qu    1422
Pool QC         2917
Fence           2358
Misc Feature    2824
dtype: int64
['MS Zoning', 'Street', 'Lot Shape', 'Land Contour', 'Utilities', 'Lot Config', 'Land Slope', 'Neighborhood', 'Condition 1', 'Condition 2', 'Bldg Type', 'House Style', 'Roof Style', 'Roof Matl', 'Exterior 1st', 'Exterior 2nd', 'Mas Vnr Type', 'Exter Qual', 'Exter Cond', 'Foundation', 'Bsmt Qual', 'Bsmt Cond', 'Bsmt Exposure', 'BsmtFin Type 1', 'BsmtFin Type 2', 'Heating', 'Heating QC', 'Central Air', 'Electrical', 'Kitchen Qual', 'Functional', 'Garage Type', 'Garage Finish', 'Garage Qual', 'Garage Cond', 'Paved Drive', 'Sale Type', 'Sale Condition']

In [67]:
clean_df['Street'].value_counts()
clean_df['Roof Style'].value_counts()

Gable      2321
Hip         551
Gambrel      22
Flat         20
Mansard      11
Shed          5
Name: Roof Style, dtype: int64

In [90]:
'''Does season affect price?'''
sale_by_mo = clean_df[['Mo Sold', 'SalePrice']]
for mo in sale_by_mo['Mo Sold'].value_counts().index:
    print(mo, clean_df['SalePrice'][clean_df['Mo Sold'] == mo].shape)
    print(mo, clean_df['SalePrice'][clean_df['Mo Sold'] == mo].mean())
print(sale_by_mo.corr())

6 (505,)
6 181542.562376
7 (449,)
7 184366.864143
5 (395,)
5 173700.21519
4 (279,)
4 167711.989247
8 (233,)
8 186222.463519
3 (232,)
3 176130.461207
10 (173,)
10 180057.063584
9 (161,)
9 191552.142857
11 (143,)
11 187651.265734
2 (133,)
2 178364.345865
1 (123,)
1 194210.01626
12 (104,)
12 184454.048077
            Mo Sold  SalePrice
Mo Sold    1.000000   0.035259
SalePrice  0.035259   1.000000

More homes are sold in the summer than the winter, but the price is not correlated to the month of sale.

In [94]:
clean_df['Electrical'].value_counts()
len(clean_df['Electrical'][clean_df['Electrical'] == 'SBrkr'])/len(clean_df)

0.9153583617747441

In [25]:
def train_and_test(df):
    
    train = df[:1460]
    test = df[1460:]
    
    lr = LinearRegression()
    features = select_features(train)
    train_cols = []
    for col in features:
        if col != 'SalePrice' and train[col].dtype != 'object':
            train_cols.append(col)
            
    lr.fit(train[train_cols], train['SalePrice'])
    labels = lr.predict(test[train_cols])
    mse = mean_squared_error(test['SalePrice'], labels)
    rmse = np.sqrt(mse)
    
    return rmse

In [26]:
train_and_test(df)

57088.251612639091