In [1]:
f = open("US_births_1994-2003_CDC_NCHS.csv", "r")
text = f.read()
data = text.split('\n')
data[:10]

['year,month,date_of_month,day_of_week,births',
 '1994,1,1,6,8096',
 '1994,1,2,7,7772',
 '1994,1,3,1,10142',
 '1994,1,4,2,11248',
 '1994,1,5,3,11053',
 '1994,1,6,4,11406',
 '1994,1,7,5,11251',
 '1994,1,8,6,8653',
 '1994,1,9,7,7910']

In [2]:
def read_csv(filename):
    f = open(filename, 'r')
    text = f.read()
    string_list = text.split('\n')
    string_list.pop(0)
    final_list = []
    
    for item in string_list:
        int_fields = []
        string_fields = item.split(',')
        int_fields = [int(x) for x in string_fields]
        #int_fields.append(string_fields)
        
        final_list.append(int_fields)
        
    return final_list

In [3]:
cdc_list = read_csv("US_births_1994-2003_CDC_NCHS.csv")

In [4]:
cdc_list[:10]

[[1994, 1, 1, 6, 8096],
 [1994, 1, 2, 7, 7772],
 [1994, 1, 3, 1, 10142],
 [1994, 1, 4, 2, 11248],
 [1994, 1, 5, 3, 11053],
 [1994, 1, 6, 4, 11406],
 [1994, 1, 7, 5, 11251],
 [1994, 1, 8, 6, 8653],
 [1994, 1, 9, 7, 7910],
 [1994, 1, 10, 1, 10498]]

In [5]:
def month_births(data):
    births_per_month = {}
    
    for record in data:
        month = record[1]
        births = record[4]
        
        if month in births_per_month:
            births_per_month[month] += births
        else:
            births_per_month[month] = births
            
    return births_per_month

In [6]:
cdc_month_births = month_births(cdc_list)
#cdc_month_births

In [7]:
def dow_births(data):
    births_per_dow = {}
    
    for record in data:
        dow = record[3]
        births = record[4]
        
        if dow in births_per_dow:
            births_per_dow[dow] += births
        else:
            births_per_dow[dow] = births
            
    return births_per_dow

In [8]:
cdc_day_births = dow_births(cdc_list)

In [9]:
#cdc_day_births

In [10]:
def calc_counts(data, col):
    births_per_col = {}
    
    for record in data:
        column = record[col]
        births = record[4]
        
        if column in births_per_col:
            births_per_col[column] += births
        else:
            births_per_col[column] = births
            
    return births_per_col

In [11]:
cdc_year_births = calc_counts(cdc_list,0)

In [12]:
cdc_month_births = calc_counts(cdc_list, 1)

In [13]:
cdc_dom_births = calc_counts(cdc_list, 2)
#cdc_dom_births

In [14]:
cdc_dow_births = calc_counts(cdc_list,3)
#cdc_dow_births

In [15]:
def min_max(data, key):
    
    min = data[key]
    max = data[key]
    
    for item in data:
        if data[item] < min:
            min = data[item]
        elif data[item] > max:
            max = data[item]
        else:
            continue
            
    return min, max

In [16]:
min_max(cdc_dom_births, 1)

(746696, 1326855)

In [20]:
def birth_diff(data, col, val = 1):
    change_in_births = {}
    total_record = {}
    current_record = {}
    #start = data[0][0]
    #print(start)
    i = 0

    # Extract the number of births for the desired value
    # Find the difference in the two values
    # Print the values and the associated years
    for record in data:
        record_of_interest = record[col]
        value_of_interest = val
        year = record[0]
        births = record[4]
        prev_year = year - 1
        if record_of_interest == val:
            if record_of_interest in current_record:
                current_record[record_of_interest] += births
            else:
                current_record[record_of_interest] = births
            
            if prev_year not in total_record and year > 1994:
                total_record[prev_year] = current_record[record_of_interest]
                
                if prev_year - 1 in total_record:
                    x = total_record[prev_year-1]
                    y = total_record[prev_year]
                    change_in_births[prev_year, year] = y - x
                
                #print("x", x, "y", y)
                current_record = {}
                i = 0
    return change_in_births

In [23]:
i = 1
while i < 12:
    
    print("i: ", i, "\n", birth_diff(cdc_list,1,i))
    i+=1

i:  1
 {(2000, 2001): 8840, (1997, 1998): 2126, (1998, 1999): 2215, (2001, 2002): 6849, (2002, 2003): -4884, (1996, 1997): -919, (1999, 2000): 572, (1995, 1996): -12665}
i:  2
 {(2000, 2001): 17995, (1997, 1998): -8518, (1998, 1999): 11076, (2001, 2002): -13913, (2002, 2003): -2719, (1996, 1997): 4376, (1999, 2000): -2570, (1995, 1996): -17761}
i:  3
 {(2000, 2001): 6021, (1997, 1998): 1036, (1998, 1999): 12175, (2001, 2002): -1774, (2002, 2003): -10844, (1996, 1997): -9363, (1999, 2000): 1792, (1995, 1996): -22528}
i:  4
 {(2000, 2001): 2165, (1997, 1998): 1202, (1998, 1999): 5656, (2001, 2002): 10687, (2002, 2003): -570, (1996, 1997): 2327, (1999, 2000): -6265, (1995, 1996): -14896}
i:  5
 {(2000, 2001): 11150, (1997, 1998): 4573, (1998, 1999): -3234, (2001, 2002): 799, (2002, 2003): -3899, (1996, 1997): -8917, (1999, 2000): 4138, (1995, 1996): -6542}
i:  6
 {(2000, 2001): 6786, (1997, 1998): 7687, (1998, 1999): 2560, (2001, 2002): -13449, (2002, 2003): -321, (1996, 1997): -9006, (1999, 2000): 6063, (1995, 1996): -15552}
i:  7
 {(2000, 2001): 1514, (1997, 1998): -203, (1998, 1999): 2616, (2001, 2002): 7778, (2002, 2003): 3463, (1996, 1997): 3017, (1999, 2000): -2600, (1995, 1996): -11776}
i:  8
 {(2000, 2001): 3368, (1997, 1998): -10426, (1998, 1999): 8297, (2001, 2002): 2537, (2002, 2003): -2814, (1996, 1997): -4200, (1999, 2000): 12166, (1995, 1996): -14167}
i:  9
 {(2000, 2001): -5790, (1997, 1998): 1947, (1998, 1999): 5118, (2001, 2002): -2559, (2002, 2003): 7719, (1996, 1997): 1300, (1999, 2000): 6384, (1995, 1996): -16748}
i:  10
 {(2000, 2001): 19036, (1997, 1998): -6750, (1998, 1999): 4018, (2001, 2002): -2490, (2002, 2003): 395, (1996, 1997): 1338, (1999, 2000): -4209, (1995, 1996): -4399}
i:  11
 {(2000, 2001): 16762, (1997, 1998): 39, (1998, 1999): 9806, (2001, 2002): -10269, (2002, 2003): -8942, (1996, 1997): -4446, (1999, 2000): 798, (1995, 1996): -20267}